############################################
## Linux
############################################

*~

.directory
.fuse_hidden*
.Trash-*
.nfs*


############################################
## macOS
############################################

._*
*.DS_Store

.AppleDouble
.LSOverride

Icon

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop

Network Trash Folder
Temporary Items

.apdisk


############################################
## Windows
############################################

Thumbs.db
ehthumbs.db
ehthumbs_vista.db

Desktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp
*.lnk


############################################
## Vagrant
############################################

.vagrant/


############################################
## Bolt
############################################

.rerun.json
*.log
